body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000033;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-image: url('./assets/bg.jpg');
}

button {
  background-color: #000033 !important;
  color: white !important;
  border: 1px solid white !important;
}

.nextEvent {
  margin-left: 49%;
  margin-top: 14%;
}

.items a,span {
  margin-right: 3%;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  font-size: 14px;
  color: rgb(223, 215, 215);
}

.card-body h5{
  text-align: left;
  color: white;
}

.address {
  display: flex;
}

.addressitems {
  display: inline;
  width: 16%;
  text-align: left;
  margin-left: 21%;
  margin-top: 1%;
}

.addressitems span {
  color: white;
}

.items img{
  width: 2%;
  margin-right: 4px;
}

.addressitems label {
  color: darkgray;
}

.orbititems {
  display: inline;
  width: 16%;
  text-align: left;
  margin-left: 2%;
  margin-top: 1%;
}

.orbititems span {
  color: white;
}

.address img {
  height: 247px;
  margin-left: 35%;
}

.orbititems h6 {
  color:white;
}

.orbititems div {
  margin-left: 5%;
}

.orbititems label {
  color: darkgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: transparent;
  padding-bottom: 1%;
}

.navbar-nav a:hover{
   color: #3c3c94 !important;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 20%;
  height: 50px;
}

.navbar-brand img {
  width: 100%;
}

#basic-navbar-nav a {
  color: white;
}

#basic-navbar-nav {
  margin-left: 46%;
  margin-top: 1%;
}

.card {
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.4);
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  font-size: 12px;
  margin-top: none;
  margin-bottom: 12px;
  color: white;
}
.pagination > .active > a{
  border-color: white ;
  color: #3c3c94;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  border-color: #3c3c94;
  outline: none ;
  display: none;
}
.pagination > li > a, .pagination > li > span{
  color:#3c3c94;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.pagination .previous {
   margin-left: 2%;
   margin-right: 87%;
}
